@use "../mixins/container" as container;
@use "../mixins/breakpoints" as breakpoints;

.section {
    --section-grid-gap: var(--gap-sm);
    --section-grid-size: 50%;

    row-gap: var(--section-grid-gap);

    @include container.make-row(var(--section-grid-gap));

    @include breakpoints.media-breakpoint-up(sm) {
        --section-grid-gap: var(--gap-xl);
        --section-grid-size: var(--global-grid-columns-4);
    }
}

.heading {
    @include breakpoints.media-breakpoint-up(xs) {
        @include container.make-col(100%, var(--section-grid-gap));
    }
}

.items {
    background-color: var(--white);

    @include breakpoints.media-breakpoint-up(xs) {
        @include container.make-col(var(--section-grid-size), var(--section-grid-gap));
    }

    &:hover {
        .details {
            transform: translateY(-100%);
        }

        .logos {
            opacity: 1;
        }
    }
}
