@use "../mixins/container" as container;
@use "../mixins/breakpoints" as breakpoints;

.section {
    --section-grid-gap: var(--gap-sm);
    --section-grid-size: 50%;

    padding-top: var(--section-grid-gap);
    padding-bottom: var(--section-grid-gap);
    row-gap: var(--section-grid-gap);

    @include container.make-row(var(--section-grid-gap));

    @include breakpoints.media-breakpoint-up(sm) {
        --section-grid-gap: var(--gap-xl);
        --section-grid-size: var(--global-grid-columns-4);
    }

    > .heading {
        @include breakpoints.media-breakpoint-up(xs) {
            @include container.make-col(100%, var(--section-grid-gap));
        }
    }

    > .items {
        background-color: var(--white);

        @include breakpoints.media-breakpoint-up(xs) {
            @include container.make-col(var(--section-grid-size), var(--section-grid-gap));
        }
    }
}

.thumbnails {
    background-color: hsla(var(--color-mono-50-hsl), 0.25);

    &:hover {
        opacity: 1;
    }
}
