@use "../mixins/breakpoints" as breakpoints;

.sidebar {
    max-width: var(--sidebar-width);
    min-width: var(--sidebar-width);
    flex-basis: var(--sidebar-width);
    background-color: var(--white);
}
